<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
      src="<%= profile.avatar %> "
      alt="<%= profile.name %> avatar"
      class="profile-avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %> 
    <h2>Add a trail</h2>
    <form action="/profiles/<%= profile._id %>/trails">
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
    </form>
    <% } %> 
</main>

<% function getRandomTrail() { %>
  <% let trails = ["ðŸž", "ðŸŒ„", "ðŸ”", "ðŸ˜¹"] %>
  <% return trails[Math.floor(Math.random() * trails.length)] %>
<% } %> 

<%- include('../partials/footer') %>