<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
      src="<%= profile.avatar %> "
      alt="<%= profile.name %> avatar"
      class="profile-avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %> 
    <h2>Add a trail</h2>
    <form action="/profiles/<%= profile._id %>/trails" method="POST" autocomplete="off">
      <label>
        Trail name:
        <input type="text" name="name">
      </label>
      <label>
        Mileage:
        <input type="number" name="mileage">
      </label>
      <label>
        Difficulty:
        <input type="text" name="difficulty">
      </label>
      <button type="submit">Add trailðŸŒ„</button>
    </form>
    <% } %>
    <% if (profile.trails.length) { %>
      <h2>
        
      </h2>
      <% } else { %>

        <% } %>
</main>

<% function getRandomTrail() { %>
  <% let trails = ["ðŸž", "ðŸŒ„", "ðŸ”"] %>
  <% return trails[Math.floor(Math.random() * trails.length)] %>
<% } %> 

<%- include('../partials/footer') %>