<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
      src="<%= profile.avatar %> "
      alt="<%= profile.name %> avatar"
      class="profile-avatar"
      >
    </div>
  <% } %>
  <h1>Welcome <%= isSelf ? "hiker" : profile.name %></h1>
  <% if (isSelf) { %> 
    <h2>Add a trail</h2>
    <form action="/profiles/<%= profile._id %>/trails" method="POST" autocomplete="off">
      <label>
        Trail name:
        <input type="text" name="name">
      </label>
      <label>
        Mileage:
        <input type="number" name="mileage">
      </label>
      <label>
        Difficulty:
        <input type="text" name="difficulty">
      </label>
      <button type="submit">Add trailðŸŒ„</button>
    </form>
    <% } %>
    <% if (profile.trails.length) { %>
      <h2>
        <%= isSelf ? "You have" : `${profile.name} has` %> trails! Here they are... %>
      </h2>
      <% profile.trails.forEach(trail => { %>
        <h3>
          <%= getRandomTrail() %>
          <%= trail.name %> is <%= trail.mileage %> miles long - <%= trail.difficulty %>
      
        </h3>
        <% }) %>
      <% } else { %>
        <h2>
          <%= isSelf ? "You don't have" : `${profile.name} doesn't` %>  trails %>
        </h2>
        <% } %>
</main>

<% function getRandomTrail() { %>
  <% let trails = ["ðŸž", "ðŸŒ„", "ðŸ”"] %>
  <% return trails[Math.floor(Math.random() * trails.length)] %>
<% } %> 

<%- include('../partials/footer') %>